<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t "test_guru"%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer style="position:absolute; bottom:0pt">
    <p><%= I18n.t "course_by"%> <a rel="nofollow noopener" href="https://thinknetica.com/" target="_blank">Thinknetica</a></p>
  </footer>
</html>
